{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block header %}{% endblock %}

{% block content %}
<div class="fact-body">
  <h2 class="header">Job History</h2>
</div>
<div class="tile is ancestor">
  <div class="tile">
    <div class="columns is-mobile">
      <div class="column">
        <article class="media">
          <figure class="media-left">
            <p class="image is-64x64">
              <img src="https://bulma.io/images/placeholders/128x128.png">
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <strong>USMC</strong> <small>Infantry Machine Gunner</small> <small>SEP 2008 - SEP 2016</small>
                <br>
                - Primary Instructor for the Marine Corps Infantry Machine Gunner Course
                <br>
                - Senior Supervisor for an Marine Corps Infantry Machine Gun team
                <br>
                - Team Chief for a Marine Corps Infantry Machine Gun team
                <br>
                - Team Leader for a Marine Corps Infantry Machine Gun team
              </p>
            </div>
            <nav class="level is-mobile">
              <div class="level-left">
                <a class="level-item">
                  <span class="icon is-small"><i class="fas fa-reply"></i></span>
                </a>
                <a class="level-item">
                  <span class="icon is-small"><i class="fas fa-retweet"></i></span>
                </a>
                <a class="level-item">
                  <span class="icon is-small"><i class="fas fa-heart"></i></span>
                </a>
              </div>
            </nav>
          </div>
        </article>
      </div>

      <div class="column">
        <article class="media">
          <figure class="media-left">
            <p class="image is-64x64">
              <img src="https://bulma.io/images/placeholders/128x128.png">
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <strong>Web Development Bootcamp</strong> <small>PDX CodeGuild</small> <small>OCT 2021 - MAR 2022</small>
                <br>
                I attended and excelled at the PDX CodeGuild Web Development Bootcamp. I learned the fundamentals of web development and gained experience in HTML, CSS, JavaScript, Python, and Django.
              </p>
            </div>
            <nav class="level is-mobile">
              <div class="level-left">
                <a class="level-item">
                  <span class="icon is-small"><i class="fas fa-reply"></i></span>
                </a>
                <a class="level-item">
                  <span class="icon is-small"><i class="fas fa-retweet"></i></span>
                </a>
                <a class="level-item">
                  <span class="icon is-small"><i class="fas fa-heart"></i></span>
                </a>
              </div>
            </nav>
          </div>
        </article>
      </div>
    </div>
  </div>

  <div class="tile is-vertical">
    <div class="columns is-mobile">
      <div class="column">
        <article class="media">
          <figure class="media-left">
            <p class="image is-64x64">
              <img src="https://bulma.io/images/placeholders/128x128.png">
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <strong>Zaelot</strong> <small>Backend Intern</small> <small>FEB 2022 - APR 2022</small>
                <br>
                I worked as a backend intern at Zaelot. I worked on the backend of the an internal platform website, which was built with Django. I also managed several databases, Linux servers, and a CI/CD pipeline.
              </p>
            </div>
            <nav class="level is-mobile">
              <div class="level-left">
                <a class="level-item">
                  <span class="icon is-small"><i class="fas fa-reply"></i></span>
                </a>
                <a class="level-item">
                  <span class="icon is-small"><i class="fas fa-retweet"></i></span>
                </a>
                <a class="level-item">
                  <span class="icon is-small"><i class="fas fa-heart"></i></span>
                </a>
              </div>
            </nav>
          </div>
        </article>
      </div>
    </div>

    <div class="column">
      <article class="media">
        <figure class="media-left">
          <p class="image is-64x64">
            <img src="https://bulma.io/images/placeholders/128x128.png">
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>CellAntenna Wireless</strong> <small>Senior Software Developer</small> <small>APR 2022 - </small>
              <br>
              I am currently working as a Senior Software Developer at CellAntenna Wireless. I am working on several desktop and embedded applications, which are built with Python and C++.
              I am also responsible for the testing and deployment of these applications.  This involves the use of Linux, oscilloscopes, and other test equipment relevant to both software development and my Electrical Engineer degree.
            </p>
          </div>
          <nav class="level is-mobile">
            <div class="level-left">
              <a class="level-item">
                <span class="icon is-small"><i class="fas fa-reply"></i></span>
              </a>
              <a class="level-item">
                <span class="icon is-small"><i class="fas fa-retweet"></i></span>
              </a>
              <a class="level-item">
                <span class="icon is-small"><i class="fas fa-heart"></i></span>
              </a>
            </div>
          </nav>
        </div>
      </article>
    </div>
  </div>
</div>

{% endblock %}

{% block footer %}
{% endblock %}