{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block header %}{% endblock %}

{% block content %}

<form action="" method="post" class="box">
    <div class="field">
        <label class="label">Name</label>
        <div class="control">
            <input class="input" type="text" placeholder="John Doe">
        </div>
    </div>

    <div class="field">
        <label class="label">Email</label>
        <div class="control">
            <input class="input" type="email" placeholder="e.g. alex@example.com">
        </div>
    </div>

    <div class="field">
        <label class="label">Subject</label>
        <div class="control">
            <div class="select">
                <select>
                    <option>Select dropdown</option>
                    <option>Business</option>
                    <option>Non-Business</option>
                </select>
            </div>
        </div>
    </div>

    <div class="field">
        <label class="label">Message</label>
        <div class="control">
            <textarea class="textarea" placeholder="Textarea"></textarea>
        </div>
    </div>

    <div class="field is-grouped">
        <div class="control">
            <button id="send_email_button" class="button is-link">
                Send Message
            </button>
        </div>
        <div class="control">
            <button class="button is-link is-light">Cancel</button>
        </div>
    </div>

</form>

{% endblock %}

{% block footer %}
{% endblock %}